@import "../../vars.css";

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, 0);
    padding: 20px;
    margin-top: 60px;
    color: var(--color-text);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, 0);
    padding: 20px;
    color: var(--color-text);
}

.selector {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(22, 20, 23, 0);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selector select {
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-input-background);
    color: var(--color-text);
    font-size: 1rem;
    cursor: pointer;
}


.cards {
    padding: 20px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgba(22, 20, 23, 0);
}

.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 100px;
    color: var(--color-text);
}

.card {
    width: 300px;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

@media screen and (max-width: 400px) {
    .main-container {
        margin: 110px;
    }
}
