.cart-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.cart-container ul {
    list-style-type: none;
    padding: 0;
}

.cart-container li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-container img {
    width: 80px; /* Ajuster la largeur de l'image */
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-container h3 {
    font-size: 1.2rem;
    margin: 0;
}

.cart-container p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.cart-container button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-container button:hover {
    background-color: #ff1a1a;
}
