/* Conteneur principal */
.checkout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.order-summary {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px #8e8a8a;
    background-color: rgba(142, 140, 140, 0);
    border-radius: 2%;
    color: #dedddd;
}

/* Cart items */
.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.cart-item div {
    flex-grow: 1;
}

.cart-item h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.cart-item p {
    margin: 5px 0;
    font-size: 14px;
}

/* Formulaire Checkout */
.checkout-form {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(120, 109, 109, 0);
    border-radius: 8px;
    margin-bottom: 50px;
}

.checkout-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8a876d;
}

.checkout-form p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    color: #958d8d;
}

.checkout-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.checkout-form input[type="date"],
.checkout-form input[type="time"] {
    width: 48%;
    margin-right: 4%;
}

.checkout-form input[type="time"] {
    margin-right: 0;
}

.checkout-form button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-form button:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 768px) {
    .cart-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .cart-item-image {
        width: 50px;
        height: 50px;
    }

    .checkout-form input[type="date"],
    .checkout-form input[type="time"] {
        width: 100%;
        margin-right: 0;
    }

    .checkout-form button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .checkout-form {
        padding: 15px;
    }

    .cart-item h3 {
        font-size: 14px;
    }

    .cart-item p {
        font-size: 12px;
    }

    .checkout-form input {
        font-size: 14px;
    }

    .checkout-form button {
        font-size: 15px;
    }
}
