
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 24, 24, 0);
    padding: 20px;
    margin-top: 60px;
}

.card-container {
    padding: 20px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: rgba(22, 20, 23, 0);
}

.card {
    width: 300px;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

@media screen and (max-width: 400px) {
    .main-container {
        margin: 110px;
    }
}
