:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: rgba(104, 108, 124, 0.25);
  --color-secondary: #536e9e;
  --color-dark: #061427;
  --color-bg: #000000;
  --hoover: #840a97;

  /* Fonts */
  --font-roboto: "Roboto";
}



